/*Definerer font*/
@font-face {
    font-family: Graduate-Regular;
    src: url(../fonts/Graduate-Regular.ttf);
  }

body{
    margin: 0px;
}
#footer {
    background-color: #F4BD37;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    font-family: Arial, sans-serif;
}

/* Sektionerne i footeren */
#footer div {
    flex: 1; 
    text-align: center;
}

/* Logoet */
#footer #logo-section img {
    height: 10%; 
    max-height: 200px; 
    border-radius: 50%;
}

/* Kontakt og adresse */
#footer h3 {
    margin-bottom: 5%;
    align-items: center; 
}

#footer p {
    margin: 0.5em 0; 
    font-size: 1rem; 
}
.icon {
    width: 3%; /* Ændre bredde efter behov */
    height: auto; /* Ændre højde efter behov */
    margin-right: 5px; /* En margin for at få lidt afstand mellem ikonet og teksten */
}

/* Responsivt design */
@media (max-width: 991px) {
    #footer {
        flex-direction: column; 
        text-align: center;
    }

    #footer div {
        width: 100%; 
        margin-bottom: 2%;
    }

    #footer p {
        font-size: 0.9rem; 
    }
}