*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: #F4BD37;
    box-shadow: 0 5px 10px #1011103c;
    padding: 0px 7%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-weight: bolder;
    font-size: 25px;
    color: #101110;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #101110;
    display: block;
}

header .navbar ul li a:hover{
    background-color: #1011103c;
    color: white;
}

header .sub{
    position: absolute;
    left: 0;
    width: 200%;
    background-color: #F4BD37;
    display: none;
}

header .sub li{
    width: 100%;
    border-top: 1px solid #1011103c;
}

header .navbar ul li:hover > ul{
    display: initial;
}

/* burgerbar */
#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color: #101110;
    cursor: pointer;
    display: none;
}

/* skærmstørrelse */

@media(max-width:991px){
    header{
        padding: 20px;
    }

    header label{
        display: initial; 
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background-color: #F4BD37;
        border-top: 1px solid #1011103c;
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background-color: #1011103c;
    }


    #menu-bar:checked ~ .navbar{
        display: initial;
    }
}