.senior-head img {
width: 100%;
}

h1 {
    font-family: x;
    font-size: xx-large;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.decorated-senior {
    text-align: center;
    position: relative;
    font-size: 24px; /* Tekststørrelse */
    font-weight: bold; /* Gør teksten fed */
    color: black; /* Tekstfarve */
    margin: 20px 0; /* Afstand til andre elementer */
    padding: 20px ; /* Plads omkring teksten */
}

.decorated-senior::before,
.decorated-senior::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px; /* Tykkelse på linjerne */
    background-color: gold; /* Gul farve på linjerne */
}

.decorated-senior::before {
    top: 0; /* Øverste linje */
}

.decorated-senior::after {
    bottom: 0; /* Nederste linje */
}

.intro {
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    margin: 1rem auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 800px;
}

.trainers {
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
    border-radius: 5px;
}

.trainers h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

div.card {
    width: 25rem;
    background-color: #F4BD37;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    padding: 1rem;
}

div.names {
    text-align: center;
    padding: 10px 20px;
  }

.names h3 {
    font-size: larger;
    font-weight: bold; 
}

.names p{
    font-size: larger;
    font-weight:lighter;
  }


.trainer-cards {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.klar {
    font-size: medium;
    font-weight:bold
}

.skridtet {
    font-size: medium;
    font-weight: lighter;
}

/* Tilmeldingssektion */
.cta h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.cta p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #555;
}

.btn-tilmelding {
    background-color: #888;
    color: #fff;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-tilmelding:hover {
    background-color: #666;
}

.fang {
    font-size: medium;
    font-weight: bolder;
}

.fang::after {
    content: "";
    display: block;
    width: 50%; /* Gør linjen kortere eller længere */
    height: 4px; /* Tykkelse af stregen */
    background-color: #ffcc33; /* Gul farve */
    margin: 0 auto; /* Centrer linjen */
    margin-top: 8px;
}

/*
.card {
    background-color: #fff;
    border: 2px solid #ffcc33;
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
    max-width: 200px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card h3 {
    margin: 0.5rem 0 0.2rem;
    font-size: 1.2rem;
}

.card p {
    margin: 0;
    font-size: 0.9rem;
    color: #555;
}