/* Global Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    min-height: 100vh; /* Ensure full viewport height */
    margin: 0;
    display: flex;
    flex-direction: column; /* Aligns footer at the bottom */
}

/* Form Container */
.form-container {
    flex-grow: 1; /* Ensures this section grows to fill available space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem; /* Spacing for medium to wide screens */
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border: none;
    width: 100%;
    justify-content: center;  /* Center form inputs horizontally */
}

label.labelclass {
    display: flex;
    flex-direction: column;
    width: 45%;  /* This ensures labels like 'Fornavn' and 'Efternavn' also take up the same width */
    max-width: 250px; /* Control max width of inputs */
    margin-bottom: 1em; /* Add space between inputs */
}

input {
    width: 100%;  /* Full width for all input fields */
    padding: 1em;
    margin: 0.5em 0;
    border-radius: 5px;
    border: 1px solid #F4BD37;
    background: #d9d9d97e;
}

li.active {
    display: none;
}

.bottonconfirm {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.bottonsection {
    display: flex;
    gap: 2em;
    justify-content: center;  /* Center the dropdowns */
    margin: 1rem 0;
}

.dropdown {
    min-width: 15em;
    margin: 0 auto;  /* Center the dropdown */
    position: relative;
}

button {
    padding: 1rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #4a4a4a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width:100%;  /* Increase width to make button more prominent */
    max-width: 200px;  /* Limit the maximum width */
    margin: 1.5rem 0;  /* Adjust margin for spacing */
    text-align: center;
}
button:hover {
    background-color: #6a6a6a; /* Lidt lysere grå farve ved hover */
}

form .registration-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 1200px; /* Allow spreading on wide screens */
    padding: 0 2rem; /* Add spacing inside form */
}

.form-logo {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

#spillerlogo {
    width: 50%;
    height: auto;
    margin-bottom: 2rem;
    align-items: center;
}

.inputemail {
    margin-top: 1.5em;
    width: 100%;
}

.footerbox {
    display: flex;
    
}
#footer {
    display: flex;
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #D9D9D9;
    border: 1px #F4BD37 solid;
    box-shadow: 0 0.5em 1em #74747473;
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: none;
    z-index: 1;
}


.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
    border-color: #F4BD37;
}

li {
    border: 1px #F4BD37;
}

.menu li:hover {
    background-color: #ececec;
}

.menu-open {
    display: block;
    color: #111111;
}

.select {
    background: #d9d9d9;
    color: #00000088;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}
.emailLabelClass {
    width: 510px;
}

.navnfelt {
    max-width: 510px;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #848484;
    transition: 0.3s;
    display: none;
}

.caret-rotate {
    transform: rotate(180deg);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    label.labelclass {
        width: 100%;
    }

    button {
        width: 100%;
    }

    #spillerlogo {
        width: 40%;
    }
    .bottonsection {
        display: flex;
        gap: 2em;
        justify-content: center;
        margin: 1rem 0;
        flex-direction: column;
 }   
 .emailLabelClass {
    width: 240px;
} 
}

@media (min-width: 1200px) {
    form.registration-form {
        padding: 0 4rem;
    }

    label.labelclass {
        max-width: 300px;
    }
}
