/* Global Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Vertically center content */
    align-items: center;      /* Horizontally center content */
    margin: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 4rem;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;   /* Set max-width to prevent form from stretching too wide */
    margin: 0 auto;     /* Center form horizontally */
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border: none;
    width: 100%;
    justify-content: center;  /* Center form inputs horizontally */
}

label.labelclass {
    display: flex;
    flex-direction: column;
    width: 45%;  /* This ensures labels like 'Fornavn' and 'Efternavn' also take up the same width */
    max-width: 250px; /* Control max width of inputs */
    margin-bottom: 1em; /* Add space between inputs */
}

input {
    width: 100%;  /* Full width for all input fields */
    padding: 1em;
    margin: 0.5em 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.bottonconfirm{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
}

.bottonsection {
    display: flex;
    gap: 2em;
    justify-content: center;  /* Center the dropdowns */
    margin: 1rem 0;
}

.dropdown {
    min-width: 15em;
    margin: 0 auto;  /* Center the dropdown */
    position: relative;
}

button {
    padding: 1rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #4a4a4a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width:100%;  /* Increase width to make button more prominent */
    max-width: 200px;  /* Limit the maximum width */
    margin: 1.5rem 0;  /* Adjust margin for spacing */
    text-align: center;
}

form .registration-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    align-items: center;
}

.form-logo {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

#spillerlogo {
    width: 20%;
    height: auto;
    margin-bottom: 2rem;
    align-items: center;
}

.inputemail {
    margin-top: 1.5em;
    width: 100%;
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: none;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background-color: #2a2d35;
}

.menu-open {
    display: block;
}

.select {
    background: #D9D9D9;
    color: #00000088;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #848484;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}
