*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/*Definerer font*/
@font-face {
  font-family: Graduate-Regular;
  src: url(../fonts/Graduate-Regular.ttf);
}

/* indsæt font */
h1 {
    font-family: Graduate-Regular;
    font-size: xx-large;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

/* landing page styling */

/* forside billede */
.frontpic img {
    width: 100%;
}


/* logo section i flex */
#flogo{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* logo img */
#flogo img{
    width: 20rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* scroll to top btn */

#myBtn {
    display: none; /* Gemt by default */
    width: 2rem;
    position: fixed; /* Fixed/sticky position */
    bottom: 3rem; 
    right: 6rem; 
    z-index: 99; /* Justeres til front lag */
    cursor: pointer; /* Makør ved hover */
  }
  
 /*  #myBtn:hover */
  


/* tekst margin */

.tekst{
    margin-left: 13.5rem;
    margin-right: 13.5rem;
    line-height: 2;
}

/* h1 */
.decorated-text {
    text-align: center;
    position: relative;
    font-size: 24px; /* Tekststørrelse */
    font-weight: bold; /* Gør teksten fed */
    color: black; /* Tekstfarve */
    margin: 20px 0; /* Afstand til andre elementer */
    padding: 20px ; /* Plads omkring teksten */
}

.decorated-text::before,
.decorated-text::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px; /* Tykkelse på linjerne */
    background-color: gold; /* Gul farve på linjerne */
}

.decorated-text::before {
    top: 0; /* Øverste linje */
}

.decorated-text::after {
    bottom: 0; /* Nederste linje */
}

/* tekstafsnit */
#tekstp{
    margin-top: 4rem;
    font-weight: bold;
}


/* 'polarid spiller billeder' */
.flexspiller{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 5rem;
}


div.polaroid {
    width: 25rem;
    background-color: #F4BD37;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    padding: 1rem;
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }

  .container p{
    font-size: larger;
    font-weight: bold;
  }

  /* btn på billede */

  .imgcontainer {
    position: relative;
  }
  
  /* Make the image responsive */
  .imgcontainer img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .imgcontainer .spillerbtn {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #101110b6;
    color: white;
    font-size: 20px;
    padding: 12px 50px;
    border-color: #F4BD37;
    cursor: pointer;
    border-radius: 2px;
  }
  
  .imgcontainer .spillerbtn:hover {
    background-color: black;
  }


  /* styling af tekstbokse section */
  .tekstbokse{
    margin-left: 13.5rem;
    margin-right: 13.5rem;
    line-height: 2;
    padding-bottom: 4rem;
  }

  #oeverst{
    padding-top: 5rem;
  }

  .tekstbokse .tykp{
    font-weight: bold;
  }

  @media(max-width:991px){

    .tekst{
        margin-left: 7rem;
        margin-right: 7rem;
        line-height: 2;
    }

    .tekstbokse{
        margin-left: 7rem;
        margin-right: 7rem;
        line-height: 2;
    }

    #flogo img{
        width: 20rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .flexspiller{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #myBtn{
        display: none;

    }

  }

